<%= form_with model: @patient,local: false do |form| %>
  <div>
    <%= form.label :patient_name %><br>
    <%= form.text_field :name %><br>
   
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>