<center>
<h1>search index </h1>
<div class="dropdown">
<div class="form-group ">
 <h4 >Select User:</h4>
<%= form_with model: @search do |form| %>
<div class="col-sm-9">
    <p>
      <%= form.label :name %><br>
      <%= form.select :name, Search.all.pluck(:name),{:class => 'form-control search-select    btn btn-danger dropdown-toggle dropdown-toggle-split', multiple: true, style: 'width: 100%'}%>
      <%#= form.select(:search_ids, Search.all.collect {|a| [a.name]}, {}, class: "search-select", :multiple => true) %>
    </p>
</div>
    <p>
      <%= form.submit %>
    </p>
    <% end %>
    </div>
  </div>
  <center>

  <script>
  $(".search-select").select2({
   multiple: true
  });
</script>
