<center>
<div id="search">
<h1>search index </h1>
<div class="dropdown">
<div class="form-group  ">
 <h4 >Select User:</h4>
<ul>
  <% @searches.each do |search| %>
    <li>
      <%=link_to search.name,search, remote: :true %>
    </li>
  <% end %>
</ul>

<%= link_to "New search", new_search_path,remote: :true, class:"btn btn-primary" %>
</center>
<div id="search">
 </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
