<div style="background-color:#aecbcf;  height: 1000px;  font-family: Fantasy;" class="pb -5">
<center>
<div id="card-show">
<h1 style="color: #1b68b5 " font-family="Ebrima">Cards Index</h1>
<div class="container root px-2" >
    <div class="--bs-body-bg: #607d8b;">
            <h4><%= link_to " new card", new_card_path , data: { bs_toggle: "modal", bs_target: "#new-card", remote: :true }, class:"link2"  %></h4> 
            <div class="body">
                <div class="row  name">
                    <% @cards .each do |card|%>
                        <h2 class="color"> name of cards:<%= card.name %> </h2><br>
                             <% card.images.each do |image| %>
                                <div class="card name font  "style="width: 18rem;" >
                                    <center><%= image_tag(url_for(image), style: "width:80%; height:100%") %></center>
                                        <div class="card-body">
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                        <div class="card-body">
                                            <%=link_to "show card details" , card_path(card.id),remote: :true %>
                                        </div>
                                    </div>
                            <% end %>
                         <%end%>
                    </div>
                </div>
            </div>
        </div>  
</div>

<div class="modal fade" id="new-card" tabindex="-1" aria-labelledby="NewCardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="NewCardModalLabel">Create card modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id= "card-form">
            </div>
        </div>
    </div>
</div> 

<div  id="show-review"> <%#= render "reviews/showreview", review: @review %></div>


</center>
</div>

<style>
.name{
    margin-left:40px;
}
.color{
    color: #009688;
    font-variant:common-ligatures;
    FONT-WEIGHT: 300;
    FONT-VARIANT: JIS83;
    font-family: Ebrima;
    color: #3f51b5;
   
}
.font{
    color: #009688;
    --bs-body-font-weight: 500;
     font-style: italic;
}
.container{
    --bs-body-bg: #607d8b;
    --bs-body-bg: #758f8c;
}
.link{
    --bs-link-color: #9c27b0;
}
.root{
    --bs-body-font-family: auto;
}
.link2{
    --bs-link-color: #9c27b0;
}

.body {
    font-family: 'Montserrat', sans-serif !important;
}
.px-2 {
  padding-top: ($spacer * .5) !important;
 
}

</style>