<div id="post-new" >
    <tr >
     <% @user.posts.each do |post| %>
        <td>post_name:<%= post.post_name %></td>
        <td>post_details:<%= post.post_details %></td>
    </tr>
    <%end%>
</div>
